apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
    sscs-repo-permalink: https://github.com/org4rong/py3ocp7ai-src/commit/e5409c236693da4bd20185c1739d484ebabc78ba
    sscs-image-risk: 6
  name: py3ocp7ai-svc
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/org4rong/py3ocp7ai-img:e5409c236693da4bd20185c1739d484ebabc78ba@sha256:946ab8821401b5e63b238272e89f3959d0dafdc6c75f715323285a8574899b23
          name: container-image
