apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
    sscs-repo-permalink: https://github.com/org4rong/py3ocp7ai-src/commit/c01a1db9f5b97ee367b3dac87b4696919237f06b
    sscs-image-risk: 6
    sscs-image-scanner: ./roxctl image scan     --insecure-skip-tls-verify     -e central-stackrox.apps.rhocp1.hcp.res.ibm.com:443 --image quay.io/org4rong/py3ocp7ai-img:c01a1db9f5b97ee367b3dac87b4696919237f06b@sha256:38161b5b053492d46690ce9b24428fc99eadc635225586d048e80dd65a3c6f75 --output json --force
  name: py3ocp7ai-svc
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/org4rong/py3ocp7ai-img:c01a1db9f5b97ee367b3dac87b4696919237f06b@sha256:38161b5b053492d46690ce9b24428fc99eadc635225586d048e80dd65a3c6f75
          name: container-image
